*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.secret
config/local_env.yml
public/assets
!public/assets/manifest-36b584ccffc252b0467bc559cf4c5c81.json