*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/*---------------------MAIN STYLES BEGIN*/
body {
  color: #000;
  background: #fff;
  font-family: arial, sans-serif;
  width: 100%;
  float: left;
  margin: 0 auto;
}
a {
  color: #111;
  text-decoration: none;
}
header, article, footer, .movie_poster, #about_message, ul li, ul li h2, #movie_poster, #all_movies  {
  width: 100%;
  float: left;
}
/*---------------------MAIN STYLES END*/
/*---------------------HEADER STYLES BEGIN*/
header {
  color: #fff;
  background: #790000;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: .5em .5em .5em 1em;
}
#logo a {
  color: #fff;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
#logo a:hover {
  color: #d8d8d8

}
#about_message {
  color: #fff;
  background: #111;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  padding: .75em 1.5em;
}
/*---------------------HEADER STYLES END*/
/*---------------------BODY STYLES BEGIN*/
article {
  padding: 0em 1.5em;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
article h1 {
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  padding: 1em 0em .25em;
}
ul li {
  list-style: none;
  border: 4px solid #111;
  border-radius: 5px;
  margin-bottom: .5em;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
ul li h2 {
  font-family: 'Source Sans Pro', sans-serif;
  background: -webkit-linear-gradient(#fff, #d8d8d8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #d8d8d8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, #d8d8d8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff, #d8d8d8); /* Standard syntax */
  padding: .5em;
}
ul li h2:hover {
  background: -webkit-linear-gradient(#d8d8d8, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#d8d8d8, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#d8d8d8, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#d8d8d8, #fff); /* Standard syntax */
}

#all_movies {
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  padding: .5em 1em;
  text-transform: uppercase;
}

#all_movies:hover {
  color: #790000;
}
/*---------------------BODY STYLES END*/
/*---------------------TABLET STYLES BEGIN*/
@media screen and (min-width: 1080px) and (max-width: 1550px) {
  article {
    width: 50%;
  }
}
/*---------------------TABLET STYLES END*/
/*---------------------DESKTOP STYLES BEGIN*/
/*---------------------DESKTOP STYLES END*/
@media screen and (min-width: 1551px) and (max-width: 5000px) {
  ul li {
    width: 33.33333%;
  }
}
